* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #fd4766;
    --color-opacity-1: hsla(0, 0%, 100%, 0.2);
    --color-gray: rgba(29, 29, 36, 0.75);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

/* !header */

.headerCyber {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;

    z-index: 999;
    padding: 3rem 5rem;
}
.navbarCyber {
    /* background-color: #000; */
}

.header__right {
}

.header__img {
    max-height: 6rem;
}

.navCyber__item > a {
    color: white;
}

.navCyber__item:hover > .nav-link {
    color: var(--color-primary);
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    padding: 20px 0;
}

.header__btn {
    margin-left: 5rem;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    background-size: 152% 100%;
    background: transparent;
    border: 2px solid var(--color-opacity-1);
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}

/* Dropdown */

.navCyber__item .dropdown-item {
    font-weight: 500;
    width: 100%;
    padding: 5px 20px;
    font-size: 1.4rem;
    display: block;
    color: #1f1f25;
    margin: 0 10px;
    border-radius: 0.3rem;
    transition: all 0.8s;
}

.navCyber__item .dropdown-item:hover {
    color: var(--color-primary);
    background: #f1c7ce;
}

/* ! Slider */
.slider {
    position: relative;
    top: 0;
}

.slider .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__title {
    color: #ffffff;
    font-size: 10rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.carousel__desc {
    /* color: #c6c9d8; */
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
    padding: 0 16%;
    font-weight: 300;
}

.slider-btn {
    margin-top: 5rem;
}

.btn-default {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.6rem 4rem;
    border-radius: 50rem;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-default:hover {
    transition: all 0.4s ease-in-out;
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

/* indicators__btn */
/* .carousel-indicators {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
} */

.carousel-indicators .indicators__btn {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 5px 10px;
}

/* !Services */

.serviceCyber {
    padding: 12rem 0;
}
.service__subtile {
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.8rem;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    margin-bottom: 1.2rem;
    background: linear-gradient(
        120deg,
        #1c99fe 20.69%,
        #7644ff 50.19%,
        var(--color-primary) 79.69%
    );

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.service__title {
    font-size: 5rem;
    font-weight: 600;
    line-height: 6.2rem;
    margin-bottom: 2rem;
}

.service__desc {
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--color-gray);
}

/* .service__link {
    color: #000;
} */

.service__bottom {
    margin-top: 3rem;
    padding: 5rem;
    background: #f6f6f6;
}

.service__bottom .icon i {
    width: 4.7rem;
    height: 4.7rem;
    font-size: 4.5rem;
    margin-bottom: 2.3rem;
}

.service__bottom .icon i:first-child {
    color: var(--color-primary);
}

.service__bottom .icon i.icon--blue {
    color: #337dff;
}

.service__bottom .icon i.icon--green {
    color: #12d8df;
}

.service__bottom .icon i.icon--mossGreen {
    color: #59c98d;
}

.service__bottom .icon i.icon--violet {
    color: #6f41f6;
}
.service__content-title {
    margin-bottom: 1.9rem;
    font-weight: 600;
    font-size: 2rem;
    color: #1f1f25;
}

.service__content-desc {
    color: var(--color-gray);
    font-size: 1.8rem;
    line-height: 1.67;
}
