* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #fd4766;
    --color-opacity-1: hsla(0, 0%, 100%, 0.2);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* !header */

.headerCyber {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;

    z-index: 999;
    padding: 3rem 5rem;
}
.navbarCyber {
    /* background-color: #000; */
}

.header__right {
}

.header__img {
    max-height: 6rem;
}

.navCyber__item > a {
    color: white;
}

.navCyber__item:hover > .nav-link {
    color: var(--color-primary);
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    padding: 20px 0;
}

.header__btn {
    margin-left: 5rem;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    background-size: 152% 100%;
    background: transparent;
    border: 2px solid var(--color-opacity-1);
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}

/* Dropdown */

.navCyber__item .dropdown-item {
    font-weight: 500;
    width: 100%;
    padding: 5px 20px;
    font-size: 1.4rem;
    display: block;
    color: #1f1f25;
    margin: 0 10px;
    border-radius: 0.3rem;
    transition: all 0.8s;
}

.navCyber__item .dropdown-item:hover {
    color: var(--color-primary);
    background: #f1c7ce;
}

/* ! Slider */
.slider {
    position: relative;
    top: 0;
}

.slider .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__title {
    color: #ffffff;
    font-size: 10rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.carousel__desc {
    /* color: #c6c9d8; */
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
    padding: 0 16%;
    font-weight: 300;
}

.slider-btn {
    margin-top: 5rem;
}

.btn-default {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.6rem 4rem;
    border-radius: 50rem;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-default:hover {
    transition: all 0.4s ease-in-out;
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

/* indicators__btn */
/* .carousel-indicators {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
} */

.carousel-indicators .indicators__btn {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 5px 10px;
}
